@model EditProductViewModel

@{
    ViewData["Title"] = "Edit";
    var imagePath = "/images/products/" + (Model.ExistingPath ?? "no_image.jpg");
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div>
                <img src="@imagePath" />
            </div>
            <div class="custom-file">
                <label asp-for="ImagePath" class="custom-file-label" id="imagePathLabel">Choose a image...</label>
                <input asp-for="ImagePath" class="custom-file-input" id="imagePathInput" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $("#imagePathInput").on("change", function () {
        var fileName = $(this).val();
        $("#imagePathLabel").html(fileName);
    })
</script>