@model SignInViewModel

@{
    ViewData["Title"] = "Sign in";
}

<div class="d-flex justify-content-center">
    <div class="bg-light p-3 rounded" style="width: 500px;">
        <h1 class="text-center">Sign In</h1>
        <hr />
        <form method="post">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="col-12 text-danger"></div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Email" class="form-control" />
                </div>
                <span asp-validation-for="Email" class="col-12 col-form-label text-danger"></span>
                
            </div>
            <div class="form-group row">
                <label asp-for="Password" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Password" class="form-control" />
                </div>
                <span asp-validation-for="Password" class="col-12 col-form-label text-danger"></span>
                
            </div>
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <div class="form-check">
                        <input asp-for="RememberMe" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label"></label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>