@model HomeViewModel

@{
    ViewBag.Title = "Shop";
    ViewBag.ShowSidebar = false;
    var OrderBy = Model.OrderBy;
    var SearchPhrase = Model.SearchPhrase;
}

<div class="row">
    <div class="col-md-6 col-lg-4">
        <form method="get" asp-route-page="0">
            <div class="form-group">
                <input asp-for="@SearchPhrase" hidden />
                <select asp-for="@OrderBy" asp-items="Html.GetEnumSelectList<ProductOrderByEnum>()" 
                        class="form-control" onchange="this.form.submit()"></select>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-lg-4 offset-lg-4">
        <form method="get" asp-route-page="0">
            <div class="input-group">
                <input asp-for="@OrderBy" hidden />
                <input type="text" asp-for="@SearchPhrase" class="form-control" placeholder="Search..."/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-light">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

@if( Model.Products.Any() )
{
    <div class="row">
        @foreach( var product in Model.Products )
        {
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
                <vc:Product model="product"></vc:Product>
            </div>
        }
    </div>
    <vc:pagination paginated="Model.Products" page-limit="3"></vc:pagination>
}
else
{
    <h1 class="text-center">No products found.</h1>
}