@inject IUserManager UserManager
@{
    var showUserSidebar = ViewBag.ShowSidebar && UserManager.IsSignedIn(Context.User);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <partial name="_Navbar" />
    </header>
    <div class="container">
        <div>
            @if( showUserSidebar )
            {
                <div class="row">
                    <div class="order-1 col-sm-9 order-sm-0 p-3 ">
                        @RenderBody()
                    </div>
                    <div class="order-0 col-sm-3 order-sm-1 bg-light p-3 ">
                        <partial name="_Sidebar" />
                    </div>
                </div>
            }
            else
            {
                <div class="p-3">
                    @RenderBody()
                </div>
            }
        </div>
    </div>
    <footer>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a href="https://github.com/noobshit/shop"
                    class="navbar-brand">
                    GitHub
                </a>
            </div>
        </nav>
    </footer>
</body>
</html>
