@inject ICartSummary CartSummary

@{ 
    var username = User.Identity.Name;
    var productCount = @CartSummary.ProductCount;
    var totalPayment = @CartSummary.TotalPayment.ToString("0.##");
}

<li class="nav-item">
    <a asp-controller="cart" asp-action="index"
       class="nav-link btn btn-link">
        <i class="fa fa-shopping-cart" style="font-size: 24px;"></i>
        <span>@productCount products for @totalPayment$</span>
    </a>
</li>
<li class="nav-item">
    <form method="post" asp-controller="user" asp-action="logout">
        <button type="submit"
                class="nav-link btn btn-link mx-auto">
            Logout @username
        </button>
    </form>
</li>