@inject IUserManager UserManager

@{ 
    var userIsSignedIn = UserManager.IsSignedIn(User);
    var showAdminPanel = User.IsInRole("Admin");
}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">Shop app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsible">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-action="index" asp-controller="home" class="nav-link btn btn-link">
                        Home
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @if( userIsSignedIn )
                {
                    @if( showAdminPanel )
                    {
                        <partial name="_NavbarAdminOptions" />
                    }

                    <partial name="_NavbarUserOptions" />
                }
                else
                {
                    <partial name="_NavbarGuestOptions" />
                }
            </ul>
         </div>
    </div>
</nav>