<nav class="nav navbar-light bg-light">
    <ul class="navbar-nav flex-column">
        <li class="nav-item py-2">
            <a asp-action="Index" asp-controller="Cart"
               class="nav-link">
                Show cart
            </a>
        </li>
        <li class="nav-item py-2">
            <a asp-action="Index" asp-controller="Order"
               class="nav-link">
                Show orders
            </a>
        </li>
        <li class="nav-item py-2">
            <a asp-action="EditDetails" asp-controller="User"
               class="nav-link">
                Edit contact details
            </a>
        </li>
    </ul>
</nav>