<div class="list-group">
    <a asp-action="Index" asp-controller="Cart"
        class="list-group-item list-group-item-action bg-light">
        Show cart
    </a>
    <a asp-action="Index" asp-controller="Order"
        class="list-group-item list-group-item-action bg-light">
        Show orders
    </a>
    <a asp-action="EditDetails" asp-controller="User"
        class="list-group-item list-group-item-action bg-light">
        Edit contact details
    </a>
</div>
