@model IEnumerable<Product>

@{ 
    ViewBag.Title = "Shop";
}

<h1>Hello world from View/Home/Index.cshtml!</h1>


<div class="card-deck">
    @foreach( var product in Model )
    {
    <div class="card mt-3" style="min-width: 30%; max-width: 30%">
        <img src="~/images/products/@product.ImagePath"
             class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Price</p>
            <a asp-action="add" asp-controller="cart" asp-route-id="@product.Id" 
               class="btn btn-info">add to cart</a>
        </div>
    </div>
    }
</div>