@model IEnumerable<Product>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List of products</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var item in Model )
             {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                </tr>
             }
            
        </tbody>
    </table>
</body>
</html>